{
    "plugins": [
      "@babel/plugin-check-constants",
      "@babel/transform-arrow-functions",
      "@babel/transform-block-scoping",
      "@babel/transform-function-name",
      "@babel/transform-parameters",
      "@babel/transform-spread",
      "@babel/transform-template-literals"
    ],
    "env": {
      "commonjs": {
        "plugins": [
          ["@babel/transform-modules-commonjs", { "loose": true }]
        ]
      },
      "umd": {
        "plugins": [
          ["@babel/transform-modules-umd", { "loose": true }]
        ],
        "moduleId": "observe-select"
      },
      "test": {
        "plugins": [
          ["@babel/transform-modules-commonjs", { "loose": true }],
          "@babel/transform-shorthand-properties"
        ]
      }
    }
  }